# Python Assignment

## Python Basics

### List

```python
x = [1,'a', 'xy']
y = [2, x, 3.0]
```

### Dict
```python
d = {'x':1, 'y':2, 'z':3}
```

## Class and Object
A class is like a blueprint or template, and an object is an actual instance created based on that blueprint.
```python
# This is a class definition
class Car:
    def __init__(self, brand):
        self.brand = brand

    def drive(self):
        print(f"{self.brand} is driving.")

# This is an object created from the class
my_car = Car("Toyota")

# Call a method from the object
my_car.drive()  # Output: Toyota is driving.

```

## 1. List Remove Duplicates

### Description
Write a Python function that takes a list and returns a new list with duplicate elements removed.

### Input Example
```
input_list = [1, 1, 2, 3, 2, 4, 5, 5, 6]
```

### Output Example
```
[1, 2, 3, 4, 5, 6]
```

In [4]:
def remove_duplicates(input_list):
    temp_list = []
    for x in input_list:
        if x not in temp_list:
            temp_list.append(x) #[1,2,3,]
    return temp_list

input_list = [1, 1, 2, 3, 2, 4, 5, 5, 6]
print(remove_duplicates(input_list))

[1, 2, 3, 4, 5, 6]

True

## 2. Fibonacci Sequence

### Description
Write a Python function that generates the Fibonacci sequence up to a specified number of terms. The Fibonacci sequence is a series of numbers in which each number is the sum of the two preceding ones. It starts like this: 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...

### Input Example
```
terms = 10
```

### Output Example
```
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
```

In [5]:
def fibonacci_sequence(terms):
    res = [0, 1]
    for i in range(3, terms+1): # range(3,5) -> [3, 4, 5)
        temp = res[-1] + res[-2]
        res.append(temp) # [0,1, 1, 2]
    return res


terms = 10
print(fibonacci_sequence(terms))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## 3. List Overlap

### Description
Write a Python function that takes two lists and returns a new list containing only the common elements, without duplicates.

### Input Example
```
list1 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
```

### Output Example
```
[1, 2, 3, 5, 8, 13]
```

In [10]:
def list_overlap(list1, list2):
    res = []

    for x in list1:
        print('')
        print('x=', x)
        print('res=', res)

        print('')
        if x in res:
            print('already exisiting..')
            continue
        else:
            if x in list2:
                res.append(x)
                print('get new one: ', res)

    return res


list1 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
print(list_overlap(list1, list2))

x= 1
res= []

get new one:  [1]

x= 1
res= [1]

already exisiting..

x= 2
res= [1]

get new one:  [1, 2]

x= 3
res= [1, 2]

get new one:  [1, 2, 3]

x= 5
res= [1, 2, 3]

get new one:  [1, 2, 3, 5]

x= 8
res= [1, 2, 3, 5]

get new one:  [1, 2, 3, 5, 8]

x= 13
res= [1, 2, 3, 5, 8]

get new one:  [1, 2, 3, 5, 8, 13]

x= 21
res= [1, 2, 3, 5, 8, 13]


x= 34
res= [1, 2, 3, 5, 8, 13]


x= 55
res= [1, 2, 3, 5, 8, 13]


x= 89
res= [1, 2, 3, 5, 8, 13]

[1, 2, 3, 5, 8, 13]

## 4. Reverse String

### Description
Write a Python function that reverses a given string.

### Input Example
```
input_string = "hello"
```

### Output Example
```
"olleh"
```

In [18]:
def reverse_string(input_string):
    res = []
    for i in range(len(input_string)): # 0, 1, 2, 3, 4
        print(input_string[-i-1])
        res.append(input_string[-i-1])

    return res

input_string = "hello" # ['h', 'e', 'l', 'l', 'o'] -> ['o', 'l', 'l', 'e', 'h']

res = ['o', 'l', 'l', 'e', 'h']

# print(''.join(res))

# print(len(input_string))

res_list = reverse_string(input_string)
print(''.join(res_list))

print(input_string[::-1])

o
l
l
e
h
olleh
olleh

## 5. Sort List by Square of Each Elements

### Description
Write a Python function that takes a list of integers, squares each element, and then sorts the new list in non-decreasing order.

### Input Example
```
input_list = [-4, -1, 0, 3, 10]
```

### Output Example
```
[0, 1, 9, 16, 100]
```

### sort() and sorted()
```list.sort(key=lambda x: some_function(x))```
or
```
sorted_list = sorted(list, key=lambda x: some_function(x))
```

words = ["apple", "banana", "fig", "cherry"]
words.sort(key=lambda x: len(x))
print(words)
# Output: ['fig', 'apple', 'banana', 'cherry']

In [ ]:
def sort_squares(input_list):
    pass

input_list = [-4, -1, 0, 3, 10]
print(sort_squares(input_list))

[0, 1, 9, 16, 100]

In [2]:
words = ["apple", "banana", "fig", "cherry"]
words.sort(key=lambda x: len(x))
print(words)
# Output: ['fig', 'apple', 'banana', 'cherry']

['fig', 'apple', 'banana', 'cherry']

In [20]:
nums = [-4, -1, 0, 3, 10]
sorted_nums = sorted(nums, key=lambda x: x**2)
print(sorted_nums)
print(nums)
# Output: [0, -1, 3, -4, 10]

[0, -1, 3, -4, 10]
[-4, -1, 0, 3, 10]

## 6. Two Sum

### Description
Given an array of integers `nums` and an integer `target`, return indices of the two numbers such that they add up to `target`.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

### Input Example
```
nums = [2, 7, 11, 15]
target = 9
```

### Output Example
```
[0, 1]
```

In [ ]:
#[2, 4, 6, 3, 5] , 9
2, -> 7
4 (1), -> 5 (4)

In [23]:
def two_sum(nums, target):

    for i in range(len(nums)): # [0, 1, 2, 3, 4]
        # nums[i] # i+1, ... ,len(nums)-1
        for j in range(i+1, len(nums)):
            print('>>', i, j, nums[i], nums[j], nums[i]+nums[j])
            if nums[i] + nums[j] == target:
                return (i, j)

nums = [2, 4, 6, 3, 5 ] # 4+3+2+1 n: (n-1) + (n-2) + (n-3) + ... 1 -> n*(n-1)/2 -> O(n*n)  -> O(n)
target = 99
print(two_sum(nums, target))

>> 0 1 2 4 6
>> 0 2 2 6 8
>> 0 3 2 3 5
>> 0 4 2 5 7
>> 1 2 4 6 10
>> 1 3 4 3 7
>> 1 4 4 5 9
(1, 4)

In [27]:
def two_sum(nums, target):
    # dict
    lookup = {}
    for i, n in enumerate(nums):
        lookup[n] = i # 2:0, 4:1, 6:2, 3:3, 5:4
    for k, v in lookup.items():
        print (k, v)
    print('')
    for i, n in enumerate(nums):
        print('[', i, '] ',  n, ' target=', target - n )
        if target - n in lookup:
            return (i, lookup[target-n])


nums = [2, 4, 6, 3, 5 ] # 4+3+2+1 n: (n-1) + (n-2) + (n-3) + ... 1 -> n*(n-1)/2 -> O(n*n)  -> O(n) 2*n
target = 9
print(two_sum(nums, target))

2 0
4 1
6 2
3 3
5 4

[ 0 ]  2  target= 7
[ 1 ]  4  target= 5
(1, 4)

## 7. Student Grade Management System

### Description
Create a Python class `Student` that stores a student\'s name and a dictionary of their grades for different subjects. Implement methods to:
- Add a new subject and grade.
- Update an existing subject\'s grade.
- Calculate the average grade for the student.
- Display all subjects and their grades.

### Input Example
```python
student1 = Student("Alice")
student1.add_grade("Math", 90)
student1.add_grade("Science", 85)
student1.display_grades()
student1.update_grade("Math", 92)
student1.display_grades()
print(f"Average grade for {student1.name}: {student1.calculate_average_grade()}")
```

### Output Example
```
Alice\'s Grades:
Math: 90
Science: 85
Alice\'s Grades:
Math: 92
Science: 85
Average grade for Alice: 88.5
```

### Code
```python
class Student:
    def __init__(self, name):
        self.name = name
        self.grades = {}

    def add_grade(self, subject, grade):
        self.grades[subject] = grade
        print(f"Added {grade} for {subject} to {self.name}\'s grades.")

    def update_grade(self, subject, new_grade):
        if subject in self.grades:
            self.grades[subject] = new_grade
            print(f"Updated {subject} grade to {new_grade} for {self.name}.")
        else:
            print(f"{subject} not found for {self.name}.")

    def calculate_average_grade(self):
        if not self.grades:
            return 0
        return sum(self.grades.values()) / len(self.grades)

    def display_grades(self):
        print(f"{self.name}\'s Grades:")
        if not self.grades:
            print("No grades recorded.")
        for subject, grade in self.grades.items():
            print(f"{subject}: {grade}")

# Example Usage:
student1 = Student("Alice")
student1.add_grade("Math", 90)
student1.add_grade("Science", 85)
student1.display_grades()
student1.update_grade("Math", 92)
student1.display_grades()
print(f"Average grade for {student1.name}: {student1.calculate_average_grade()}")

student2 = Student("Bob")
student2.add_grade("History", 78)
student2.display_grades()
print(f"Average grade for {student2.name}: {student2.calculate_average_grade()}")